.book-master-link{
  background-image: url(../img/bookMaster.png);
  background-repeat: no-repeat;
  position: relative;
  height: 20vmin;
  left: 75vmin;
  background-size: 20vmin;
}

.book-master-link:hover{
  background-image: url(../img/book-master.gif);
  height: 80vmin;
  background-size: 60vmin;

  left: 55vmin;
  -webkit-transition: ease-in-out;
  -webkit-transition-duration: 2000ms;

}

@media (max-width: 767px) {
  .book-master-link {
    left: 50vmin;
    background-size: 20vmin;
  }

  .book-master-link:hover{
    left: 30vmin;
  }

  div.download-section-text{
  padding-bottom: 100vmin;
}
}
