#root{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Yeon Sung', cursive;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

body{
  margin: 0;
}

.firework-head{
  height: 70vmin;
  width : 90vmin;
  background-image: url('./images/fireworks-gif.gif');
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  position: absolute;
  z-index: 1;
}

.head {
  height: 80vmin;
  width : 80vmin;
  z-index: 2;
  background-size: 100% contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  display: inline-block;
}

.head-bg{
  background-image: url('./images/red-face.gif');
  z-index: 1;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.firework-initial{
  display: none;
}

.firework-clicked{
  display: inline-block;
}

.card-container{
  height: 80%;
  width: 95%;
  background-color: white;
  position: absolute;
  display: flex;
}

.card{
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  animation-duration: 5s;
  background-position: center;
  height: 30vmin;
  width: 18vmin;
  z-index: 3;
  margin: 2vmin;
  left: 2vmin;
  top: 17vmin;
  display: inline-block;
  position: relative;
  font-family: 'Modak', cursive;
}

.card-static {
  background-color: black;
  background-image: url('./images/bookMaster.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation-duration: 14s;
  height: 6.25%;
  width: 2%;
  z-index: 0;
  position: absolute;
  display: inline-block;
  top: 25vmin;
  left: 83vmin;
}

.my-projects{
  display: inline-block;
  position: absolute;
  margin: 2vmin;
  height: 10vmin;
  z-index: 4;
  font-size: 9vmin;
  font-family: 'Yeon Sung', cursive;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes move {
  0%{transform: translate(50vmin, -3vmin) scale(.1);}
  50% {transform: translate(0, 0) scale(1);}
  100% {transform: translate(0, 0);}
}
.move{
  animation-name: move;
  animation-timing-function: ease;
}

.bounce-project-title {
  animation-name: bounce-project-title;
  animation-timing-function: ease;
}

.slide-in{
  animation-name: slide-in;
  animation-timing-function: ease;
}

.slide-down-static{
  animation-name: slide-down-static;
  animation-timing-function: ease;
}

@keyframes bounce-project-title {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-80px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@keyframes slide-in{
  0%{transform: translate(0, -15vh) scale(1);}
  50% {transform: translate(0, 0) scale(1);}
  100% {transform: translate(0, 0);}
}

@keyframes slide-down-static{
  0%{transform: translate(0, -3vh) scale(.1);}
  50% {transform: translate(0, 0) scale(1);}
  100% {transform: translate(0, 0);}
}
