#root{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Yeon Sung', cursive;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

body{
  margin: 0;
}

.firework-head{
  height: 70vmin;
  width : 90vmin;
  background-image: url('./images/fireworks-gif.gif');
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  position: absolute;
  z-index: 1;
}

.head {
  height: 80vmin;
  width : 80vmin;
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  display: inline-block;
}

.head-bg{
  background-image: url('./images/red-face.gif');
  z-index: 1;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.firework-initial{
  display: none;
}

.firework-clicked{
  display: inline-block;
}

.nav-bar{
  height: 6vmin;
  width: 35vmin;
  font-size: 2vmin;
  background-color: black;
  position: absolute;
  color: white;
  top: 9vmin;
  right: 4vmin;
  line-height: 200%;
  z-index: 5;
  text-align: center;
  animation-duration: 12s;
  animation-iteration-count: 1;
  transform-origin: bottom;

}

.nav-link{
  margin: 2vmin;
  display: inline-block;
}

.nav-link:hover{
  cursor: pointer;
}

.card-container{
  height: 80%;
  width: 95%;
  background-color: white;
  position: absolute;
  display: flex;
}

.card{
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  animation-duration: 2s;
  background-position: center;
  height: 30vmin;
  width: 18vmin;
  z-index: 3;
  margin: 2vmin;
  left: 2vmin;
  top: 17vmin;
  display: inline-block;
  position: relative;
  font-family: 'Modak', cursive;
}

.card:hover{
  transition-duration: .7s;
  transform: translate(1.2vmin, 1.2vmin) scale(1.2);
}



.card-static {
  background-color: black;
  background-image: url('./images/bookMaster.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation-duration: 14s;
  height: 6.25%;
  width: 2%;
  z-index: 0;
  position: absolute;
  display: inline-block;
  top: 25vmin;
  left: 83vmin;
}

.my-projects{
  display: inline-block;
  position: absolute;
  margin: 2vmin;
  height: 10vmin;
  z-index: 4;
  font-size: 9vmin;
  font-family: 'Yeon Sung', cursive;
  animation-duration: 2.2s;
  animation-iteration-count: 2;
  transform-origin: bottom;
}

.about-me-container{
  position: absolute;
  display: flex;
  right: 15vmin;
  top: 30vmin;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform-origin: bottom;
}

.about-me-picture{
  background-image: url('./images/profilePhoto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 28vmin;
  width: 18vmin;
  display: inline-block;
}

.about-me-text{
  display: inline-block;
  width: 24vmin;
  text-align: left;
  margin-left: 3vmin;
}

@keyframes move {
  0%{transform: translate(50vmin, -3vmin) scale(.1);}
  100% {transform: translate(0, 0) scale(1);}
}
.move{
  animation-name: move;
  animation-timing-function: ease;
}

.bounce-project-title {
  animation-name: bounce-project-title;
  animation-timing-function: ease;
}

.bounce-and-slide-in{
  animation-name: bounce-and-slide-in;
  animation-timing-function: ease;
}

.slide-in{
  animation-name: slide-in;
  animation-timing-function: ease;
}

.slide-down-static{
  animation-name: slide-down-static;
  animation-timing-function: ease;
}

.slide-down-nav{
  animation-name: slide-down-nav;
  animation-timing-function: ease;
}

.hover{
  animation-name: hover;
}

@media screen and (max-width: 992px) {
  .nav-bar {
    height: 30vmin;
    top: 20vmin;
    width: 22vmin;
    right: 0;
    font-size: .8rem;
    text-align: center;
  }

  .card-static {
    top: 77vmin;
    left: 45vmin;
    height: 4%;
    width: 6%;
  }

  .head{
    height: 80vmin;
    width: 40vmin;
  }

  .head-bg {
    height: 100vh;
    width: 100vw;
  }
}

@keyframes bounce-project-title {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-6vmin); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-.3vmin); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@keyframes bounce-and-slide-in {
  0%   {transform: translate(50vmin, -70vmin); }
  50%  { transform: scale(1,1)      translateY(0); }
  55%  { transform: scale(1.1,.9)   translateY(0); }
  65%  { transform: scale(.9,1.1)   translateY(-3vmin); }
  75%  { transform: scale(1.05,.95) translateY(0); }
  78.5%  { transform: scale(1,1)      translateY(-.1vmin); }
  82%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@keyframes slide-in{
  0%{transform: translate(0, -15vh) scale(1);}
  50% {transform: translate(0, 0) scale(1);}
  100% {transform: translate(0, 0);}
}

@keyframes slide-down-static{
  0%{transform: translate(0, -3vmin) scale(.1);}
  50% {transform: translate(0, 0) scale(1);}
  100% {transform: translate(0, 0);}
}

@keyframes slide-down-nav{
  0%{transform: translate(0, -20vmin) scale(1);}
  50% {transform: translate(0, 0) scale(1);}
  100% {transform: translate(0, 0);}
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
